.item{
  
    margin-top: 15px;
    margin-left: 5px;
    justify-content: center;

}
.flex{
    display: flex;
    
}
.sumario{
    display: flex;
    margin-left: 5px;
    color: rgb(100, 100, 100);
    font-size: 13px;
    font-family: Arial;
}
.nome{
 
    font-family: Arial, sans-serif;
    margin-bottom: 3px;
    margin-left: 30px;
}

.normal{
   width: 70px;
   height: 70px;
}